/* sliding pages */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.slide {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 500vw;
}

.one {
  background: #eed1ba;
}
.two {
  background: black;
  animation: bgcolor 10s infinite;
  animation-direction: alternate;
}
.three {
  background: #eed1ba;
}
.four {
  background: black;
}
.five{
  background: black;
}









/* PAGE ONE / Title page */

            /* basic hovers */

            .title a {
              color: black;
            }

            .title a:hover {
              color: black;
              text-decoration: none;
            }

            .title #any {
              color: #ccc;
            }

            .title #any:hover {
              color: black;
            }

            /* hover states for images */

            .title #image-paragraph img {
              z-index: 0;
              position: absolute;
              max-width: 200px;
              opacity: 0;
              -webkit-transition: all 1s ease-in-out;
            }

            .title p#image-paragraph:hover img {
              opacity: 1;
            }

            /* each image is given its own transition delay, so they occur in an order when hovered on */

            .title p#image-paragraph #image1 {
              top: 30px;
              left: 30px;
              -webkit-transition-delay: 0s; 
            }

            .title p#image-paragraph #image2 {
              top: 30px;
              left: 280px;
              -webkit-transition-delay: .2s;
            }

            .title p#image-paragraph #image3 {
              top: 30px;
              right: 280px;
              -webkit-transition-delay: .4s;
            }

            .title p#image-paragraph #image4 {
              top: 200px;
              left: 280px;
              -webkit-transition-delay: .6s;  
            }

            .title p#image-paragraph #image5 {
              top: 30px;
              right: 30px;
              -webkit-transition-delay: 0s;
            }

            .title p#image-paragraph #image7 {
              bottom: 30px;
              left: 280px;
              -webkit-transition-delay: .2s;
            }

            .title p#image-paragraph #image8 {
              top: 30px;
              left: 550px;
              -webkit-transition-delay: .6s;  
            }

            .title p#image-paragraph #image9 {
              top: 200px;
              left: 550px;
              -webkit-transition-delay: .6s;  
            }

            .title p#image-paragraph #image10 {
              bottom: 30px;
              left: 30px;
              -webkit-transition-delay: .6s;  
            }

            .title p#image-paragraph #image11 {
              bottom: 30px;
              right: 280px;
              -webkit-transition-delay: .6s;  
            }

            .title p#image-paragraph #image12 {
              bottom: 30px;
              right: 30px;
              -webkit-transition-delay: .6s;  
            }

            .title .top{
              margin: 50;
              position: absolute;
              top: 50%;
              left: 40%;
              margin-right: -50%;
              transform: translate(-50%, -50%)
              color: black;
              text-align: center;
              font-family: Arial Black;
              font-size: 20px;
            }
















/* PAGE TWO / changing color page */
           @keyframes bgcolor {
              50% {
                  background-color: black
              }
              100% {
                  background-color: #eed1ba
              }
          }

          .changingcolor h1 {
            color: black;
            text-align: center;
            font-family: Apple Chancery ;
            font-size: 200px;

            animation: colorchange 10s infinite;
          }
           @keyframes colorchange {
            50% { color: #eed1ba; }
            100% { color: black; }
          }

          .changingcolor p {
            color: black;
            text-align: center;
            font-family: Avenir Next ;
            font-size: 15px;
            text-align: justify;
            left: 133%;

            animation: colorchange 10s infinite;
          }
            @keyframes colorchange {
            50% { color: #eed1ba; }
            100% { color: black; }
          }

          .changingcolor div.middle {
              margin: 0;
              position: absolute;
              top: 50%;
              left: 150%;
              margin-right: -50%;
              transform: translate(-50%, -50%) }

          .changingcolor div.center {
              margin: 0;
              position: absolute;
              top: 70%;
              left: 133%;
              margin-right: -50%;
              transform: translate(-50%, -50%) 
          }
          .changingcolor #main {
            width: 480px;
            height: 480px;
            margin: 0;
            position: absolute;
            top: 64%;
            left: 133%;
            margin-right: -50%;
            transform: translate(-50%, -50%) 
            border: 1px solid white;
            display: flex;
            flex-wrap: wrap;
          }

          .changingcolor #main div {
            width: 110px;
            height: 110px;
          }















/* PAGE THREE / Gultaz Bio page */

          /* scrolling text */
          .bio .scroll-left {
          height: 50px; 
          overflow: hidden;
          position: relative;
          }
          .bio .scroll-left p {
          position:absolute; 
          top:2px; 
          width: 100%;
          height: 100%;
          margin: 0;
          line-height: 10px;
          text-align: center;
          font-family: Arial Black;
          font-size:14px;
          /* Starting position */
          -moz-transform:translateX(100%);
          -webkit-transform:translateX(100%); 
          transform:translateX(100%);
          /* Apply animation to this element */ 
          -moz-animation: scroll-left 10s linear infinite;
          -webkit-animation: scroll-left 10s linear infinite;
          animation: scroll-left 10s linear infinite;
          }
          /* Move it (define the animation) */
          @-moz-keyframes scroll-left {
          0% { -moz-transform: translateX(100%); }
          100% { -moz-transform: translateX(-100%); }
          }
          @-webkit-keyframes scroll-left {
          0% { -webkit-transform: translateX(100%); }
          100% { -webkit-transform: translateX(-100%); }
          }
          @keyframes scroll-left {
          0% { 
          -moz-transform: translateX(100%); /* Browser bug fix */
          -webkit-transform: translateX(100%); /* Browser bug fix */
          transform: translateX(100%); 
          }
          100% { 
          -moz-transform: translateX(-100%); /* Browser bug fix */
          -webkit-transform: translateX(-100%); /* Browser bug fix */
          transform: translateX(-100%); 
          }
          }
          .bio .p2 {
            font-family: Arial Black;
            font-size: 14px
          }

          .bio .text1{
            font-family:Avenir Next;
            font-size: 14px;
          }

          .bio div {
            padding-top: 50px; 
            padding-right: 100px;
            padding-bottom: 50px;
            padding-left: 100px;
          }
          .bio .myDiv {
            padding-top: 5px;
            padding-right: 100px;
            padding-bottom: 3px;
            padding-left: 100px;
          }
          .bio .bottomtextDiv {
             position: relative;
             left: 0;
             bottom: -20%;
             width: 100%;
             left: 200px;
             color: black;
             font-family:Avenir Next;
             font-size: 14px;
          }















/* PAGE FOUR / Hand page */
          .hands .photo-stack {
            position: relative;
            margin: auto;
            width: 300px;
            height: 250px;
          }
          .hands .photo-stack > p {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            text-align: center;
            font-weight: bold;
            z-index: 1000;
          }
          .hands .photo-stack img {
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid black;
            box-shadow: 0 1px 3px -2px rgba(0,0,0,.5);
            transition: all 0.3s ease-out;
          }
          .hands .photo-stack img:nth-child(1) {
            z-index: 999;
            width: 300px; 
            height: 300px;
          }
          .hands .photo-stack img:nth-child(2) {
            transform: rotate3d(0,0,1,3deg);
            width: 300px; 
            height: 300px;
          }
          .hands .photo-stack img:nth-child(3) {
            transform: rotate3d(0,0,1,-3deg);
            width: 300px; 
            height: 300px;
          }
          .hands .photo-stack img:nth-child(4) {
            transform: rotate3d(0,0,1,2deg);
            width: 300px; 
            height: 300px;
          }
          .hands .photo-stack img:nth-child(5) {
            transform: rotate3d(0,0,1,2deg);
            width: 300px; 
            height: 300px;
          }
          .hands .photo-stack:hover img:nth-child(1) {
            transform: scale(1.02);
            width: 240px; 
            height: 240px;
          }
          .hands .photo-stack:hover img:nth-child(2) {
            transform: translate3d(100%, 0, 0) rotate3d(0,0,1,3deg);
            width: 240px; 
            height: 240px;
          }
          .hands .photo-stack:hover img:nth-child(3) {
            transform: translate3d(-100%, 0, 0) rotate3d(0,0,1,-3deg);
            width: 240px; 
            height: 240px;
          }
          .hands .photo-stack:hover img:nth-child(4) {
            transform: translate3d(200%, -5%, 0) rotate3d(0,0,1,2deg);
            width: 240px; 
            height: 240px;
          }
          .hands .photo-stack:hover img:nth-child(5) {
            transform: translate3d(-200%, -2%, 0) rotate3d(0,0,1,2deg);
            width: 240px; 
            height: 240px;
          }

          .hands body {
            padding: 2em;
            background: black;
          }

          .hands .text{
            color: #eed1ba;
            text-align: center;
            font-family: Avenir Next ;
            font-size: 15px;
            text-align: justify;
            width: 480px;
            height: 480px;
            margin: 0;
            position: absolute;
            top: 70%;
            left: 335%;
            margin-right: -50%;
            transform: translate(-50%, -50%) 
            display: flex;
            flex-wrap: wrap;
          }

          .hands .title{
            text-align: center;
            font-family: Arial Black;
            font-size: 20px;
            color: #eed1ba;
            width: 480px;
            height: 480px;
            margin: 0;
            position: absolute;
            top: 60%;
            left: 335%;
            margin-right: -50%;
            transform: translate(-50%, -50%) 
            display: flex;
            flex-wrap: wrap;
          }
          }
  















/* PAGE FIVE / Layla Bio page */
            /* scrolling text */
            .layla .scroll-left {
            height: 50px; 
            overflow: hidden;
            position: relative;
            }
            .layla .scroll-left p {
            position:absolute; 
            top:2px; 
            width: 100%;
            height: 100%;
            margin: 0;
            line-height: 10px;
            text-align: center;
            font-family: Arial Black;
            font-size:14px;
            color: #eed1ba;
            /* Starting position */
            -moz-transform:translateX(100%);
            -webkit-transform:translateX(100%); 
            transform:translateX(100%);
            /* Apply animation to this element */ 
            -moz-animation: scroll-left 10s linear infinite;
            -webkit-animation: scroll-left 10s linear infinite;
            animation: scroll-left 10s linear infinite;
            }
            /* Move it (define the animation) */
            @-moz-keyframes scroll-left {
            0% { -moz-transform: translateX(100%); }
            100% { -moz-transform: translateX(-100%); }
            }
            @-webkit-keyframes scroll-left {
            0% { -webkit-transform: translateX(100%); }
            100% { -webkit-transform: translateX(-100%); }
            }
            @keyframes scroll-left {
            0% { 
            -moz-transform: translateX(100%); /* Browser bug fix */
            -webkit-transform: translateX(100%); /* Browser bug fix */
            transform: translateX(100%); 
            }
            100% { 
            -moz-transform: translateX(-100%); /* Browser bug fix */
            -webkit-transform: translateX(-100%); /* Browser bug fix */
            transform: translateX(-100%); 
            }
            }
            .layla .p2 {
              font-family: Arial Black;
              font-size: 14px
              color: white;
            }

            .layla .text1{
              font-family:Avenir Next;
              font-size: 14px;
              color: #eed1ba;
            }

            .layla div {
              padding-top: 50px; 
              padding-right: 100px;
              padding-bottom: 50px;
              padding-left: 100px;
            }
            .layla .myDiv {
              padding-top: 5px;
              padding-right: 100px;
              padding-bottom: 3px;
              padding-left: 100px;
              color: #eed1ba;
            }
            .layla .bottomtextDiv {
             position: relative;
             left: 0;
             bottom: -30%;
             width: 100%;
             left: 200px;
             color: #eed1ba;
             font-family:Avenir Next;
             font-size: 14px;
            }



























